<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/474dc14230.js"></script>
    <title>Barberia</title>
</head>
<body>
  <!--Navbar-->
  <section id="navbar" style="text-align: center">
    <div class="row" style="margin-top: 30px">
      <div class="col-md-3 col-xs-12">
        <img src="{{fotos.0.ruta}}" style="width: 100px;" alt="">
      </div>
      <div class="col-md-3 col-xs-12 offset-md-5 ">
          <a href="#banner" class="link-nav">Inicio</a>
          <a href="#info" class="link-nav">Informacion</a>
          <a href="#galeria" class="link-nav">Galeria</a>
          <a href="#contacto" class="link-nav">Contacto</a>
      </div>
    </div>
  </section>
  <!--Banner-->
  <section id="banner">
    <div class="row">
      <div class="col-md-12">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{fotos.1.ruta}}" class="bannerPic d-block w-100" alt="foto header">
              </div>
              <div class="carousel-item">
                <img src="{{fotos.2.ruta}}" class="bannerPic d-block w-100" alt="foto header">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Siguiente</span>
            </a>
          </div>
      </div>
    </div>
  </section>
  <section id="info">
    <div class="row">
      <div class="col-md-12 topDiv">
        <p class="pretitle"><em>--{{informacion.subtitulo}}--</em></p>
        <h1 class="title" style="font-weight: bold">{{informacion.titulo}}</h1>
        <p class="subtitle" style="color: #b59472 !important;">{{informacion.descripcion}}</p>
        <span>
          <a style="color: black" href="#experiencia">nuestros servicios</a> /
          <a style="color: black" href="#" onclick="alert('sitio de prueba')" target="_blank">reserva tu hora</a>
        </span>
      </div>
    </div>
  </section>
  <section id="nosotros">
    <div class="row">
      <div class="col-md-6" style="background-image: url({{fotos.3.ruta}});background-size: cover;">
      </div>
      <div class="col-md-6" style="background-color: black;padding-bottom: 100px; padding-top: 100px;padding-left: 100px; padding-right: 100px;">
        <p style="color: #b59472">{{nosotros.subtitulo}}</p>
        <h1 style="color:white">{{nosotros.titulo}}</h1>
        <p style="color:white">{{nosotros.descripcion}}</p>
      </div>
    </div>
  </section>
  <section id="experiencia">
    <div class="row">
      <div class="col-md-12 topDiv">
        <p class="pretitle"><em>--{{servicios.subtitulo}}--</em></p>
        <h1 class="title" style="font-weight: bold">{{servicios.titulo}}</h1>
        <p class="subtitle" style="color: #b59472">{{servicios.descripcion}}</p>
      </div>
    </div>
    <div class="container" style="padding-top: 100px;padding-bottom: 100px;">
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px;"></i>
          <h4 style="font-weight: bold">{{servicios.servicios.0.titulo}}</h4>
          <p>
                {{servicios.servicios.0.descripcion}}
          </p>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px; "></i>
          <h4 style="font-weight: bold">{{servicios.servicios.1.titulo}}</h4>
          <p>
                {{servicios.servicios.1.descripcion}}
          </p>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px;"></i>
          <h4 style="font-weight: bold">{{servicios.servicios.2.titulo}}</h4>
          <p>
                {{servicios.servicios.2.descripcion}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px;"></i>
          <h4 style="font-weight: bold">{{servicios.servicios.3.titulo}}</h4>
          <p>
                {{servicios.servicios.3.descripcion}}
          </p>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px;"></i>
          <h4 style="font-weight: bold">{{servicios.servicios.4.titulo}}</h4>
          <p>
                {{servicios.servicios.4.descripcion}}
          </p>
        </div>
        <div class="col-md-4" style="text-align: center;">
          <i class="fas fa-cut" style="font-size: 50px;"></i>
          <h4 style="font-weight: bold">{{servicios.servicios.5.titulo}}</h4>
          <p>
                {{servicios.servicios.5.descripcion}}
          </p>
        </div>
      </div>
    </div>

  </section>
  <section id="sucursales">
    <div class="row">
      <div class="col-md-12 topDiv" style="background: url({{fotos.4.ruta}});background-size: cover;">
        <h1 class="title colored invert" style="color: #b59472">{{sucursales.titulo}}</h1>
        <p class="subtitle invert" style="color: white">{{sucursales.descripcion}}</p>
        <div class="separator invert" style="color: white">--</div>
        <p class="subtitle small invert" style="color: white">{{sucursales.direcciones.0}}</p>
        <p class="subtitle small invert" style="color: white">{{sucursales.direcciones.1}}</p>
        <p class="subtitle small invert" style="color: white">{{sucursales.direcciones.2}}</p>
      </div>
    </div>
  </section>
  <section id="contacto" style="background-color: black;">
    <div class="row">
        <div class="col-md-12">
            <iframe src="{{mapa}}" width="600" height="450" frameborder="0" sstyle="border:0;" allowfullscreen="true"
        style="width:100% !important"></iframe>
        </div>
    </div>
    <div class="container">
        <h1 class="title colored invert" style="color: #b59472">Contacto</h1>
      <div class="row" style="color: white;">
        <div class="col-md-6 ">
            <p><em>Teléfono</em></p>
            <p><em>{{contacto.telefono}}</em></p>
            <p><em>whatsapp</em></p>
            <p>{{contacto.whatsapp}}</p>
            <p>email</p>
            <p>{{contacto.email}}</p>
        </div>
        <div class="col-md-6">
          <em>Contacto</em>
          <div class="row">
              <div class="col-md-6">
                <input type="text" placeholder="Nombre" class="form-control" id="nombre">
              </div>
              <div class="col-md-6">
                <input type="text" placeholder="Email" class="form-control" id="email">
              </div>
              <br>
              <br>
              <div class="col-md-12">
                <input type="text" placeholder="Mensaje" class="form-control" id="mensaje">
              </div>
          </div>
          <br>
          <button onclick="fakeForm()" class="btn btn-info">Enviar</button>
        </div>
      </div>
    </div>

  </section>

    <section id="galeria">
        <div class="row">
            <div class="col-md-4" style="background: url({{galeria.0.ruta}});
            background-size: cover;
            height: 300px"></div>
            <div class="col-md-4" style="background: url({{galeria.1.ruta}});
            background-size: cover;
            height: 300px"></div>
            <div class="col-md-4" style="background: url({{galeria.2.ruta}});
            background-size: cover;
            height: 300px"></div>
            <div class="col-md-4" style="background: url({{galeria.3.ruta}});
            background-size: cover;
            height: 300px"></div>
            <div class="col-md-4" style="background: url({{galeria.4.ruta}});
            background-size: cover;
            height: 300px"></div>
            <div class="col-md-4" style="background: url({{galeria.5.ruta}});
            background-size: cover;
            height: 300px"></div>
        </div>
    </section>  
    <section id="footer" style="margin-bottom: 0px; ">
        <div class="row">
            <div class="col-md-12" style="background-color: grey;color: white;">
                <center><p>{{footer}}</p></center>
            </div>
        </div>
    </section>      
  <script>
    function fakeForm(){
        if($('#nombre').val()!="" && $('#email').val()!="" && $('#mensaje').val()!=""){
            alert("Correo enviado exitosamente");
            $('#nombre').val("")
            $('#email').val("")
            $('#mensaje').val("")
        }else{
            alert("Favor completar todos los campos");
        }
      
    }
  </script>
  <style>
  body{
    font-family: 'Lexend Deca', sans-serif;
  }
  #navbar{
    z-index: 99999999999999;
    height: 100px;
    position: fixed;
    margin-bottom: -48px;
    background-color: #0000007d;
    width: 100% !important;
  }
  .link-nav{
    color: white; font-size: 20px; margin-right: 10px;
  }
  .topDiv{
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
  }
  </style>

</body>
</html>